data/*
dataset/*
dataset2/*
experiment.ipynb
SimCLR/runs/*
self-supervised-relational-reasoning/checkpoint/*
barlowtwins/checkpoint/*
.DS_Store
student_dataset.tar.gz
*.pth
self-supervised-relational-reasoning/*.pth
r50_1x_sk0/*
